doctype html
html
  head
    title uniformresourcelocatorelongator.com :: combating short URLs since 2012
    link href=url("/index.css") rel='stylesheet'
    script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript
    javascript:
      function do_elongate() {
        $p = escape($.trim($('#url').val()));
        if ($p === '') { return false; }
        // TODO: get the elongated URL via ajax
        var request = $.ajax({
          type: 'GET',
          url: '/elongate',
          data: 'url=' + $p,
          dataType: 'json'
        });

        request.done(function(msg) {
          $('#elongated_url').attr('href', msg.elongated_url);
          $('#elongated_url').text(msg.elongated_url);
          $('#result').show();
        });

        request.fail(function(jqXHR, textStatus) {
          alert('We failed to elongate your URL... sorry! Try again?');
        });


        return false;
      }

      $(function() {
        $('#elongate').click(do_elongate);
        $('#elongate-form').submit(do_elongate);
      });
    javascript:
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-361923-7']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    .container
      img src="/title.png"
      .lengthen
        form#elongate-form
          input#url type='text' placeholder='Enter a URL to elongate'
          a#elongate.button href='#' E l o n g a t e
        #result-holder
          #result
            h2 Congratulations, your URL has been elongated!
            p Pass this URL out to all your friends...
            p
              a#elongated_url
      #footer
        p
          | Another mindless project brought to you by 
          a href='http://twitter.com/aaronlerch' Aaron Lerch
